@import "@/styles/mixin.scss";//颜色
@import "@/styles/color.scss";//按钮
.new_project {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  .icon-box {
    color: $btnbgcolor;
    font-size: 18px;
    margin-left: auto;
    i {
      cursor: pointer;
    }
    i:last-child {
      margin-left: 5px;
    }
  }
}
.showBtn{
  position: fixed;
  top: 50%;
  margin-top: -15px;
  left: -10px;
  width:30px;
  height: 60px;
  line-height: 60px;
  background:$btnbgcolor;
  color:#fff;
 border-radius: 10px;
 text-align: right;
 cursor: pointer;
 padding-right: 5px;
 i{
   color:#fff;
   text-align: center;
   font-size: 16pxs;
 }
}
//表格操作的样式
.table{
  .table-btn{
   color:$btnbgcolor;
   cursor: pointer;
  }
  .line{
    color:$btnbgcolor;
    margin:0 5px;
  }
  ::v-deep .el-table__row{
    cursor: pointer;
  }
  .title{
    color:$tabcolorBG;
    cursor: pointer;
  }
}
//列表页面的样式
.project-container {
   .between{
     display: flex;
     justify-content: space-between;
   }
  /* common end */
  .project_table {
    display: flex;
    flex-direction: column;
    min-width: 80%;
    .protable {
      width: 100%;
      ::v-deep .el-table,
      .el-table__expanded-cell {
        background-color: transparent;
      }
      ::v-deep .el-table tr {
        background-color: transparent !important;
      }
    }
    .oprate_btn{
      .el-button{
        padding-top:0;
      }
    }
  }
  // 暂无数据
.nodata{
  padding-top: $spacing;
  box-sizing: border-box;
  text-align: center;
}
}
//新增项目页面的样式
.add-project{
  .el-button{
    margin-bottom: $spacing;
  }
  .table{
    .el-button{
      margin-bottom:0px;
    }
  }
  .dele-input{
    .el-input{
      width:90%;
    }
    .el-button{
      width: 10%;
      text-align: center;
    }
  }
  // 隐藏上传列表
  .upload-demo{
    ::v-deep .el-upload-list{
      display: none;
    }
  }
}
//管理试图
.demo-ruleForm{
  width:80%;
  i{
    font-size: 16px;
  }
}
//弹框选择器大小
::v-deep .el-dialog__body{
  .el-date-editor,.el-select{
    width:100%
  }
}




.scopeView{
  display: flex;
}
