@import "@/styles/mixin.scss";//颜色
@import "@/styles/color.scss";//按钮
.set_btn {
  display: inline-block;
  margin-bottom: $spacing;
}
//表格操作的央视
.table{
  .table-btn{
   color:$btnbgcolor;
   cursor: pointer;
  }
  .line{
    color:$btnbgcolor;
    margin:0 5px;
  }
}
//列表页面的样式
.project-container {
  .set_btn{
    @include setBtn($btnbgcolor, false);
  }
  /* common end */
  .comp-tree {
    overflow: auto;
    background: #fff;
    padding: $spacing;
    box-sizing: border-box;
    margin-right: 20px;
    .new_project{
      display: flex;
      justify-content: space-between;
    }
    // 自定义节点
    .show-btns {
      opacity: 1;
    }
    .comp-tr-node {
      ::v-deep .el-input--mini .el-input__inner {
        height: 18px;
        line-height: 18px;
      }
      // label
      .comp-tr-node--name {
        display: inline-block;
        line-height: 40px;
        min-height: 40px;
      }
      // button
      .comp-tr-node--btns {
        margin-left: 10px;
        opacity: 1;
        transition: opacity 0.1s;
        .el-button {
          transform: scale(0.8); // 缩小按钮
          & + .el-button {
            margin-left: -1px;
          }
        }
      }
    }
    // 高亮显示按钮
    .is-current {
      & > .el-tree-node__content {
        .comp-tr-node--btns {
          @extend .show-btns;
        }
      }
    }
    // 悬浮显示按钮
    .el-tree-node__content {
      &:hover {
        .comp-tr-node--btns {
          @extend .show-btns;
        }
      }
    }
  }
  .project_table {
    display: flex;
    flex-direction: column;
    min-width: 80%;
    .protable {
      width: 100%;
      ::v-deep .el-table,
      .el-table__expanded-cell {
        background-color: transparent;
      }
      ::v-deep .el-table tr {
        background-color: transparent !important;
      }
    }
    .oprate_btn{
      .el-button{
        padding-top:0;
      }
     
    }
  }
}
//新增页面的样式
.add-project{
  .set_btn{
    @include setBtn(#666, false);
    margin-right:$spacing;
  }
  .dele-input{
    .el-input{
      width:90%;
    }
    .el-button{
      width: 10%;
      text-align: center;
    }
  }
 
}
//列表上面管理的样式
.manage-project{
  .project-item{
    margin-bottom: 20px;
    b{
      font-size: 18px;
    }
    .action{
      padding-left:30px
    }
  }
 
 

}
//视图新增管理
.manage-view{
  .set_btn{
    @include setBtn($btnbgcolor, false);
    margin-right:$spacing;
  }
  .form-small{
    width:60%;
  }
  .el-form-item {
    margin-bottom: 15px;
}
  .add-del{
    i{
      font-size: 20px;
      color:$forbidColoe;
      cursor: pointer;
    }
    .el-icon-circle-plus{
      margin-right: 10px;
    }
  }

 

}