@import "@/styles/mixin.scss";//颜色
@import "@/styles/color.scss";//按钮
.new_project{
  margin-bottom:  $spacing;
  display: flex;
  // justify-content: space-between;
}
//表格操作的样式
.table{
  .table-btn{
   color:$btnbgcolor;
   cursor: pointer;
  }
  .line{
    color:$btnbgcolor;
    margin:0 5px;
  }
  ::v-deep .el-table__row{
    cursor: pointer;
  }
}
//列表页面的样式
.project-container {
   .between{
     display: flex;
     justify-content: space-between;
   }
  /* common end */
  .comp-tree {
    overflow: auto;
    background: #fff;
    padding: $spacing;
    box-sizing: border-box;
    margin-right: 20px;
    .new_project{
      justify-content: space-between;
    }
    ::v-deep .el-collapse-item__content {
      padding-bottom: 0px;
    }
    // 自定义节点
    .show-btns {
      opacity: 1;
    }
    .comp-tr-node {
      ::v-deep .el-input--mini .el-input__inner {
        height: 18px;
        line-height: 18px;
      }
      // label
      .comp-tr-node--name {
        display: inline-block;
        line-height: 40px;
        min-height: 40px;
      }
      // button
      .comp-tr-node--btns {
        margin-left: 10px;
        opacity: 1;
        transition: opacity 0.1s;
        .el-button {
          transform: scale(0.8); // 缩小按钮
          & + .el-button {
            margin-left: -1px;
          }
        }
      }
    }
    // 高亮显示按钮
    .is-current {
      & > .el-tree-node__content {
        .comp-tr-node--btns {
          @extend .show-btns;
        }
      }
    }
    // 悬浮显示按钮
    .el-tree-node__content {
      &:hover {
        .comp-tr-node--btns {
          @extend .show-btns;
        }
      }
    }
    .viewtext{
      padding:0 0 $spacing $spacing;
      box-sizing: border-box;
    }
  }
  .project_table {
    display: flex;
    flex-direction: column;
    min-width: 80%;
    .protable {
      width: 100%;
      ::v-deep .el-table,
      .el-table__expanded-cell {
        background-color: transparent;
      }
      ::v-deep .el-table tr {
        background-color: transparent !important;
      }
    }
    .oprate_btn{
      .el-button{
        padding-top:0;
      }
    }
  }
  // 暂无数据
.nodata{
  padding-top: $spacing;
  box-sizing: border-box;
  text-align: center;
}
}
//新增项目页面的样式
.add-project{
  .el-button{
    margin-bottom: $spacing;
  }
  .table{
    .el-button{
      margin-bottom:0px;
    }
  }
  .dele-input{
    .el-input{
      width:90%;
    }
    .el-button{
      width: 10%;
      text-align: center;
    }
  }
 
}
//管理试图
.manage-view{
.new_project{
  justify-content: flex-start;
}
.demo-ruleForm{
  width:80%;
  i{
    font-size: 16px;
  }
}
}
//弹框选择器大小
::v-deep .el-dialog__body{
  .el-date-editor,.el-select{
    width:100%
  }
}




