.viewLeftTree{
  width: 350px;
  line-height: 40px;
  font-size: 16px;
  color: #666666;

  .parentTree{
    border-bottom: 1px solid #eeeeee;
    width: 350px;
    i{
      float: right;
      margin-top: 10px;
    }
    .childTree{
      display: none;
    }
  }

}


.viewTree:hover{
  cursor: pointer;
}


