@import "@/styles/mixin.scss";//颜色
@import "@/styles/color.scss";//按钮

.admin-center {
 .tab-box{
   width:100%;
   overflow: hidden;
   .add-account{
     width: 30%;
     margin-top:$spacing;
     .el-select{
       width:100%;
     }
    
   }
   .table{
    ::v-deep .el-table__row{
      cursor: pointer;
    }
    .table-btn{
      color:$btnbgcolor;
      padding: 0 3px;;
    }
  }
 }
//权限管理
 .tab-box1{
   .left,.right{
    float: left;
   }
   .left{
     width:25%;
     .role-item{
       display: flex;
       padding-top:$spacing;
       b,span{
        display: block;
        margin:5px 0 ;
      }
       .item-left{
         width:50%;
       }
      
     }
   }
   .right{
      width:75%;
      ::v-deep .el-collapse-item__header {
        border-bottom: none;
        color: $btnbgcolor;
        font-size: 14px;
        font-weight: bold;
        line-height: 14px;
       margin-bottom: 10px;
        background-color: $bodybg;
      }
      ::v-deep .el-collapse,
      ::v-deep .el-collapse-item__wrap {
        border: none;
        background-color: $bodybg;
      }
      ::v-deep .el-collapse-item__content{
        display: flex;
        .project-item{
          min-width:8%;
          .top{
            .el-checkbox:nth-child(1){
              .el-checkbox__input{
                display: none;
              }
              .el-checkbox__label{
                padding-left: 0;
              }
            }
          }
          .el-checkbox{
            display: block;
          }
        }
      }
   }
 }
}