@import "@/styles/mixin.scss";//颜色
@import "@/styles/color.scss";//按钮

.admin-center {
  .manage-view {
    width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto
  }
 .tab-box{
   width:100%;
   height: 100%;
   overflow-x: hidden;
   overflow-y: auto;
   .add-account{
     width: 30%;
     margin-top:$spacing;
     .el-select{
       width:100%;
     }
   }
   .table{
    ::v-deep .el-table__row{
      cursor: pointer;
    }
    .table-btn{
      color:$btnbgcolor;
      padding: 0 3px;;
    }
  }
 }
//权限管理
 .tab-box1{
   display: flex;
   .left{
     margin-right: 40px;
     display: flex;
     flex-direction: column;
     .userTbale {
       flex: 1;
       overflow: hidden;
       margin-top: 20px;
       box-sizing: border-box;
       padding: 15px;
       background-color: #ffffff;
     }
     .role-item{
       display: flex;
       padding-top:$spacing;
       b,span{
        display: block;
        margin:5px 0 ;
      }
       .item-left{
         width:50%;
       }

     }
   }
   .right{
      flex: 1;
     .top-info{
       display: flex;
       justify-content: space-between;
     }
     .juris-item{
       margin-top:$spacing;
       display: flex;
       .project-item{
        min-width:8%;
        .el-checkbox{
          display: block;
        }

    }
     }


   }
 }
}
//视图新增管理
.manage-view{
  .set_btn{
    @include setBtn($forbidColoe, false);
    margin-right:$spacing;
  }
  .form-small{
    width:60%;
  }
  .fieldbtn,.el-form-item {
    margin-bottom: 15px;
  }

  .fd-row{
    display: flex;
    align-items: center;
    .sen-row{
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      .ng-red{
        ::v-deep .el-checkbox__inner {
            border-radius: 100%;
            border: 1px solid $forbidColoe;
            background: #ffffff;
        }
        ::v-deep .el-checkbox__inner::after {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background:$forbidColoe;
          border: none;
          line-height: 14px;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }
      .ng-input{
        ::v-deep .el-input__inner{
          height: 32px;
          line-height: 32px;
          width: 185px;
        }
      }
      .flex{
        display: flex;
        align-items: center;
      }
      .mr10{
        margin-right: 10px;
      }
    }
  }
}
